:root {
    --color-blue0-100: rgba(0,38,117,1);
    --color-blue0-110: rgba(0,34,105,1);
    --color-blue0-90: rgba(26,60,131,1);
    --color-blue0-50: rgba(128,147,186,1);
    --color-blue0-10: rgba(230,233,241,1);
    --color-blue0-5: rgba(242,244,248,1);

    --color-blue1-100: rgba(10,10,64,1);

    --color-blue2-100: rgba(0,56,143,1);

    --color-blue3-100: rgba(0,105,191,1);
    --color-blue3-110: rgba(0,95,172,1);
    --color-blue3-90: rgba(25,120,197,1);
    --color-blue3-10: rgba(230,240,249,1);
    --color-blue3-5: rgba(242,248,252,1);

    --color-blue4-100: rgba(0,171,245,1);
    --color-blue4-70: rgba(77,196,248,1);
    --color-blue4-50: rgba(128,213,250,1);
    --color-blue4-20: rgba(204,238,253,1);
    --color-blue4-10: rgba(230,247,254,1);

    --color-blue-gradient: radial-gradient(59.68% 59.68% at 20.05% 20.14%, var(--color-blue0-100) 33.33%, var(--color-blue1-100)  100%);

    --color-turquoise-100: rgba(0,238,238,1);
    --color-accent-green-100: rgba(0,255,0,1);
    --color-accent-pink-100: rgba(255,0,255,1);

    --color-white-100: rgba(255,255,255,1);
    --color-grey-100: rgba(230,230,230,1);
    --color-quick-silver-100: rgba(163,163,163,1);
    --color-dark-silver-100: rgba(112,112,112,1);

    --color-status-success-100: rgba(25,128,56,1);
    --color-status-success-10: rgba(232,242,235,1);
    --color-status-error-100: rgba(218,30,40,1);
    --color-status-error-10: rgba(251,233,234,1);
    --color-status-warning-100: rgba(241,194,27,1);
    --color-status-warning-10: rgba(254,249,232,1);
    --color-status-information-100: rgba(0,67,206,1);
    --color-status-information-10: rgba(230,236,250,1);
    --color-status-off-100: var(--color-grey-100);

    --font-familiy-noto-sans-display: 'Noto Sans Display', sans-serif;
    --font-familiy-monospace: 'Monospace', monospace;
    --font-familiy-abrantix-icon: 'abrantix-icon';
    --font-weight-regular: 400;
    --font-weight-strong: 600;
    --font-size-xs: 0.75rem;
    --font-size-s: 0.875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.5rem;

    --line-height-xs: 1rem;
    --line-height-s: 1.25rem;
    --line-height-m: 1.5rem;
    --line-height-l: 1.75rem;
    --line-height-xl: 2rem;
    
    --spacing-3xs: 0.125rem;
    --spacing-2xs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 2.5rem;
    --spacing-3xl: 3rem;
    --spacing-4xl: 4rem;
    --spacing-5xl: 5rem;
    --spacing-6xl: 6rem;
    --spacing-7xl: 10rem;

    --transition-duration: .4s;
    --transform-scale-active: scale(0.9);

    --border-button-width: 0.125rem;
}